In [1]:
import os
import shutil
import pandas as pd

In [2]:
# 原本資料集
train_dir = r'.\模型訓練資料\train'
# 新建資料集
dataset_dir = r'./dataset/'

f_list = os.listdir(train_dir)
word_name_list = [w.split('.')[0] for w in f_list]
# 檔案編號與字對照
word_idx_dict = {}
for w in word_name_list:
    word_idx_dict[w.split('_')[0]] = w.split('_')[1]

word_df = pd.DataFrame({
    'idx': list(word_idx_dict.keys()),
    'word': list(word_idx_dict.values())
})
# 800字建立label
word_dict = {}
for i, w in enumerate(word_df['word'].unique()):
    word_dict[w] = i

word_dict_df = pd.DataFrame({
    'word': list(word_dict.keys()),
    'label': list(word_dict.values())
})
# 合併及存檔
word_df = pd.merge(word_df, word_dict_df, how='left', on='word')
word_df.to_csv(f'{dataset_dir}/word_df.csv', index=False)

In [3]:
# copy & rename 
for f in f_list:
    new_f = f"{f.split('_')[0]}.jpg"
    shutil.copy(f'{train_dir}/{f}', f'{dataset_dir}{new_f}')

In [5]:
word_df.sort_values('idx')

        idx word  label
0         0    戶      0
11111     1    經    489
1111     10    簡    594
111     100    平     98
11     1000    克     11
...     ...  ...    ...
68796  9995    邦    669
68797  9996    加    744
68798  9997    王    503
68799  9998    海    397
68800  9999    正    301

[68804 rows x 3 columns]